.container-excel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 110vh;
  padding: 5.5rem 0;
  justify-content: center;
}

.description-excel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 760px;
  margin: 0 auto;
}

.description-excel span {
  display: flex;
  text-align: center;
}

.pre-footer-excel {
  display: flex;
  text-align: center;
}

.title-excel {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1px;
  line-height: 24px;
  color: #666666;
}

.title-excel-strong {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1px;
  line-height: 34px;
  color: #006494;
}

.description-text-excel {
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: -1px;
  line-height: 24px;
  color: #666666;
  padding: 0 2rem;
}


@media screen and (min-width: 600px) and (max-width: 1200px) {
  .container-excel {
    justify-content: space-between;
    padding: 1rem 0rem;
  }
}

@media screen and (min-width: 1200px) {
  .description-excel {
    text-align: center;
    padding: 5rem 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .description-excel span {
    text-align: start;
  }

  .free-btn-excel {
    width: 100%;
  }
}

@media screen and (max-width: 998px) {
  .container-excel {
    height: 70vh !important;
  }
}

@media screen and (max-width: 768px) {
  .container-excel {
    justify-content: center;
    height: 70vh !important;
    padding: 1rem 0rem;
  }

  .description-excel {
    width: 340px;
    text-align: center;
  }

  .content-img-excel img{
    width: 280px;
    height: 180px;
  }

  .description-excel span {
    text-align: center;
  }

  .pre-footer-excel {
    text-align: center;
  }

  .free-btn-excel {
    display: flex;
    justify-content: center;
  }
}
