.container-reduce-more {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(../../../public/bg-initial.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  justify-content: center;
}

.description-reduce-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
}

.description-reduce-more span {
  font-size: 2.2rem;
  display: flex;
  text-align: center;
}

.pre-footer-reduce-more{
  font-size: 1.8rem !important;
  display: flex;
  text-align: center;
}

.title-reduce-more {
  font-size: 3.3rem;
  font-weight: bold;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .container-reduce-more {
    justify-content: space-between;
    padding: 5rem 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .description-reduce-more {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .description-reduce-more span {
    text-align: start;
  }

  .free-btn-reduce-more {
    width: 100%;
  }
}

@media screen and (max-width: 998px) {
  .container-reduce-more {
    flex-direction: row-reverse;
    padding-right: 1rem;
  }

  .description-reduce-more {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .container-reduce-more {
    justify-content: flex-end;
    padding: 2rem;
  }

  .description-reduce-more {
    width: 80%;
  text-align: center;
  }

  .description-reduce-more span {
  text-align: center;
  }

  .pre-footer-reduce-more{
  text-align: center;
  }

}

@media screen and (max-width: 600px) {
  .description-reduce-more {
    width: 100%;
  }
}
