.container-initial {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 110vh;
  padding: 5.5rem 0;
  justify-content: center;
}

.description-initial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.pre-footer-initial {
  font-size: 1rem !important;
  display: flex;
  text-align: center;
}

.title-initial {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: -3px;
  line-height: 38px;
  color: #666666;
}

.title-initial-strong {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1px;
  line-height: 34px;
  color: #006494;
}

@media screen and (max-width: 768px) {
  .container-initial {
    height: 100vh !important;
    width: 95%;
    margin: 0 auto;
  }

  .pre-footer-initial {
    text-align: center;
  }
  .description-initial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0 0 0;
    margin: 0 auto;
    max-height: 100vh;
  }

  .description-initial span {
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: -1px;
    line-height: 25px;
    color: #666666;
    display: flex;
    text-align: center;
  }

  .free-btn-initial {
    padding-top: 10px;
    display: flex;
    width: 90%;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .container-initial {
    justify-content: center;
    padding: 1rem 0 0 0;
  }

  .content-img-initial img {
    width: 300px;
    height: 230px;
  }
}
