.container-initial {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 110vh;
  background-image: url(../../../public/bgRocketLaunch.png);
  background-repeat: no-repeat;
  background-position-x: right;
  padding: 5.5rem 0;
  justify-content: center;
}

.description-initial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../../public/bg-gray.png);
  background-repeat: no-repeat;
  background-size: contain;
  gap: 1rem;
  width: 760px;
  margin: 0 auto;
}

.description-initial span {
  font-size: 1.3rem;
  display: flex;
  text-align: center;
}

.pre-footer-initial {
  font-size: 1rem !important;
  display: flex;
  text-align: center;
}

.title-initial {
  font-size: 1.9rem;
  font-weight: bold;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .container-initial {
    justify-content: space-between;
    padding: 5rem 0rem;
  }
}

@media screen and (min-width: 1200px) {
  .description-initial {
    text-align: center;
    padding: 5rem 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .description-initial span {
    text-align: start;
  }

  .free-btn-initial {
    width: 100%;
  }
}

@media screen and (max-width: 998px) {
  .container-initial {
    height: 70vh !important;
  }
}

@media screen and (max-width: 768px) {
  .container-initial {
    justify-content: center;
    height: 100vh !important;

  }
  
  .title-initial{
    font-size: 1rem;
  }

  .description-initial {
    width: 80%;
    text-align: center;
    gap: 0px;
  }

  .description-initial span {
    text-align: center;
    font-size: 1rem;
  }

  .pre-footer-initial {
    text-align: center;
  }

  .free-btn-initial {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .container-initial {
    justify-content: center;
    height: 100vh !important;

  }

  .content-img-initial img{
    width: 230px;
    height: 150px;
  }

  .title-initial{
    font-size: 1rem;
  }

  .description-initial {
    width: 80%;
    text-align: center;
    gap: 0px;
  }

  .description-initial span {
    text-align: center;
    font-size: 1rem;
  }

  .pre-footer-initial {
    text-align: center;
  }

  .free-btn-initial {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
}
