.container-footer {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  padding: 2rem 2rem 2rem 0;
  color: #13293d;
}

.description-footer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.description-footer span {
  font-size: 1.3rem;
}

.strong-footer{
  font-weight: bold;
  font-size: 1.7rem;
}

@media screen and (max-width: 768px) {
  .description-footer span {
    font-size: 1rem;
  }

  .description-footer{
    text-align: center;
  }

  .img-footer{
    display: none;
  }

  .container-footer {
    padding: 1rem;
    justify-content: center;
    gap: 0;
  }
}
