.general-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1.5rem !important;
  padding: 1.5rem 4rem;
  cursor: pointer;
  transition: ease-in all 0.2s;
  box-shadow: 0px 12px 4px -10px rgb(61 61 61 / 78%);
}

.general-button:hover {
  background-color: #0074aa !important;
}

@media screen and (max-width: 665px) {
  .general-button-text {
    font-size: 1.5rem !important;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .general-button-text {
    font-size: 1rem !important;
  }

  .general-button {
    width: 90%;
    padding: 0.5rem 0.5rem !important;
    font-size: 1rem !important;
    height: 3rem !important;
  }
}
